*
!Dockerfile
!.dockerignore
!fly.toml
!application/
!application/package.json
!application/pnpm-lock.yaml
!application/pnpm-workspace.yaml
!application/client/
!application/client/**
!application/server/
!application/server/**
!application/public/
!application/public/**
!application/upload/
!application/upload/**
application/dist
application/e2e
application/node_modules
application/client/node_modules
application/server/node_modules
application/server/openapi.yaml
application/server/scripts
application/server/seeds
