@layer normalize, theme, base, components, utilities;

@import "normalize.css" layer(normalize);

@font-face {
  font-family: "Rei no Are Mincho";
  font-display: swap;
  src: url(/fonts/ReiNoAreMincho-Regular.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Rei no Are Mincho";
  font-display: swap;
  src: url(/fonts/ReiNoAreMincho-Heavy.woff2) format("woff2");
  font-weight: bold;
}

.font-awesome {
  height: 1em;
  vertical-align: -0.125em;
  width: 1em;
}
