@layer normalize, theme, base, components, utilities;

@import "normalize.css" layer(normalize);

@font-face {
  font-family: "Rei no Are Mincho";
  font-display: swap; /* ← block → swap */
  src: url(/fonts/ReiNoAreMincho-Regular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rei no Are Mincho";
  font-display: swap; /* ← block → swap */
  src: url(/fonts/ReiNoAreMincho-Heavy.otf) format("opentype");
  font-weight: bold;
}

.font-awesome {
  height: 1em;
  vertical-align: -0.125em;
  width: 1em;
}
